@import './../../../styles/variables.scss';

.informationSection {
  display: flex;
  flex-direction: column;
  padding: var(--horizontalSpacing);
  background-color: #303030f0;
  color: $colorWhite;
  border: 1px solid #555;
  border-radius: 5px;
}

.isEmptySection {
}

.birdName {
  font-size: 2rem;
  color: inherit;
}

.birdClass {
  color: inherit;
}

.birdDescription {
}

.birdPicture {
  height: 155px;
  width: 200px;
  & > img {
    border-radius: 10px;
    width: 100%;
    object-position: top;
  }
}

.birdPlayer {
  height: 60px !important;
  width: 100% !important;
  margin: 20px 0;
}
