.header {
}

.headerLogo {
  grid-area: header-logo;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: greenyellow;
}

.userStatistics {
  grid-area: user-statistics;
}

.headerNavigation {
  grid-area: header-navigation;
}
